<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="../vue.js"></script>
	<link rel="stylesheet" type="text/css" href="../nodeMaster.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>Notemaster</title>
</head>
<body>
	<div id="app">
		<h3>{{title}}</h3>
		<div class="form">
			<div class="form-group">
				<div class="form-group">
					<label>Note title</label>
					<input type="text" class="form-control" v-model="note.title">
				</div>
				<div class="form-group">
					<label>Note text</label>
					<input type="text" class="form-control" v-model="note.text">
				</div>
				<button class="btn btn-primary" v-on:click="addNote">sumbit</button>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-3 note" v-for="(note,index) in notes">
			<!--v-for(item,index in items(array))-->
				<div class="card">
					<button class="close" v-on:click="deleteNote(index)">&times;</button>
					<div class="card-block">
						<h4 class="card-title warning">{{note.title}}</h4>
						<h6 class="card-subtitle mb-2 text-muted">{{note.date}}</h6>
						<p class="card-text">{{note.text}}</p>
						<span>Rank: {{note.rank}} </span><button class="btn btn-info" @click="addRank(note)">Add rank</button>
					</div>
				</div>
			</div>
		</div>
	</div>

<script>
	var app = new Vue({
		el: '#app',
		data : {
			title: 'Notemaster' ,
			note: {
				title: '',
				text: '',
				rank: 1
			},
			notes: [
				{
				title: 'Today is wonderful day',
				text: `It's good to eat hotpot!` ,
				rank: 2,
				date: new Date(Date.now()).toLocaleString()
				},
				{
				title: 'What to eat in dinner',
				text: `Absuloted pasta!!` ,
				rank: 3,
				date: new Date(Date.now()).toLocaleString()
				}]
		},
		methods: {
			addNote(){
				let {title,text,rank} = this.note
				if(title || text != "") {
					this.notes.push({
						title,
						text,
						date: new Date(Date.now()).toLocaleString(),
						rank,
					})
				}
			},
			deleteNote(index) {
				console.log(index)
				// console.log(this.$el)
				this.notes.splice(index,1)
			},
			addRank(note){

				console.log(note.rank)

				if(note.rank != 5){
					note.rank++
				} else
				    note.rank = 1
			}
		}
		
	})		
</script>
</body>
</html>